<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
      <span class="name">
        <%= tweet.name %>
      </span>
    </div>
  <% end %>
  <%= "puts代わりに
  System.out.println();
  を使う
  コメントアウトは//
  処理を記述したら必ず最後に;を付ける" %>
  </p>
  <%= "文字列や数値という言葉で値の種類を説明してきましたが、これらは「データ型」と呼ばれます。まずは下図で文字列と整数のデータ型を覚えましょう。Stringは文字の並び、intは整数(integer)を意味する英語です。"%>
  </p>
  <%= "上書きするときはデータ型をつけないように注意しましょう。"%>
  </p>
  <%= "変数に1を足す、もしくは1を引く場合は、さらなる省略系が存在します。
  「++」という記号は変数に「1を足す」という意味です。変数xに対してx++とするのは、x += 1と同じ意味になります。反対に--とすると1を引くことができます。便利な書き方なのでぜひ覚えておきましょう。
  "%>
  </p>
  <%= "変数にはいくつか決まりがあります。変数名は基本的に自由に決められますが、Javaでは下図のような決まりがあります。
  「userName」のように2語以上の変数名を使うときは、単語の始めを大文字にして区切りましょう。この記述法をキャメルケースと呼びます。"%>
  </p>
  <%="これまで数値は、int型（整数）しか使ってきませんでしたが、小数を表すデータ型も存在します。そのひとつがdouble型です。重要なデータ型なので覚えておきましょう。"%>
  </p>
  <%="「+」などの操作は同じデータ型同士でないとできません。よって型の違うものを演算するときは、型を変換し同じ型にしてあげます。
  Javaではこの型変換の方法として、自動の変換と手動の変換があります。まずは自動型変換を学びましょう。下図のようにString型とint型を足すと、int型が自動でString型に変換され、文字列の結合が行われます。
  "%>
</div>