<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="content_post" style="background-image: url(<%= tweet.image %>);">
      <p><%= tweet.text %></p>
      <span class="name">
        <%= tweet.name %>
      </span>
    </div>
  <% end %>
  <%= "puts代わりに
  System.out.println();
  を使う
  コメントアウトは//
  処理を記述したら必ず最後に;を付ける" %>
  </p>
  <%= "文字列や数値という言葉で値の種類を説明してきましたが、これらは「データ型」と呼ばれます。まずは下図で文字列と整数のデータ型を覚えましょう。Stringは文字の並び、intは整数(integer)を意味する英語です。"%>
  </p>
  <%= "上書きするときはデータ型をつけないように注意しましょう。"%>
  </p>
  <%= "変数に1を足す、もしくは1を引く場合は、さらなる省略系が存在します。
  「++」という記号は変数に「1を足す」という意味です。変数xに対してx++とするのは、x += 1と同じ意味になります。反対に--とすると1を引くことができます。便利な書き方なのでぜひ覚えておきましょう。
  "%>
  </p>
  <%= "変数にはいくつか決まりがあります。変数名は基本的に自由に決められますが、Javaでは下図のような決まりがあります。
  「userName」のように2語以上の変数名を使うときは、単語の始めを大文字にして区切りましょう。この記述法をキャメルケースと呼びます。"%>
  </p>
  <%="これまで数値は、int型（整数）しか使ってきませんでしたが、小数を表すデータ型も存在します。そのひとつがdouble型です。重要なデータ型なので覚えておきましょう。"%>
  </p>
  <%="「+」などの操作は同じデータ型同士でないとできません。よって型の違うものを演算するときは、型を変換し同じ型にしてあげます。
  Javaではこの型変換の方法として、自動の変換と手動の変換があります。まずは自動型変換を学びましょう。下図のようにString型とint型を足すと、int型が自動でString型に変換され、文字列の結合が行われます。
  "%>
  </p>
  <%="数値の自動型変換を学ぶ前に、数値計算における注意点を学びましょう。
  int型同士の計算は結果もint型になり、double型同士の計算は、結果もdouble型になります。下図でその事実を確認しましょう。特に、int型の5をint型の2で割ると、結果は「2.5」ではなく「2」となることに注意しましょう。"%>
  </p>
  <%= "先ほどint型同士の計算「5 / 2」は2になってしまうことを学びましたが、
  それでは下図のようにint型の変数同士の割り算で、正確な値を出したいときはどうすればよいでしょうか？
  このようなときは強制的に型変換を行います。
  これをキャストと呼び、下図のように、
  (変換したいデータ型)値とします。
  int型同士の値から、最終的にdouble型の計算結果を得たい場合、
  どちらか1つをキャストしてあげましょう（前ページで学んだように、片方がdouble型であれば結果はdouble型になります）。"%>
  </p>
</div>